<div dir="rtl">

  <div class="text-center bg-black p-1 mb-5">
    <p class="text-uppercase text-white mb-2">وَفِي ذَٰلِكَ فَلْيَتَنَافَسِ الْمُتَنَافِسُونَ</p>
  </div>


  <div class="d-flex justify-content-center mb-5">
    <img src="../../../assets/img/logo.jpg" width="20%" class="img-fluid" alt="Logo">
  </div>
  <div class="text-center bg-warning p-4 mb-4" >
    <h2 class="text-uppercase">مسابقة ترتيل للقرآن الكريم لعام 2023</h2>
  </div>
  <div class="p-4 mb-4">
    <ul>
      <li class="my-4 fs-5 fw-bold text-black">يتشرف الاتحاد النوعي العصري للتنمية ورعاية الشباب بالجيزة أن يعلن عن بدء مسابقة ترتيل السنوية لحفظ القرآن الكريم لأهالي إمبابة الكرام.</li>
      <li class="my-4 fs-5 fw-bold text-black">والجوائز تتضمن مادية وعينية قيمة وشهادات تقدير لجميع المتسابقين.</li>
      <li class="my-4 fs-5 fw-bold text-black">ويتم فتح باب التسجيل للمتسابقين ابتداءً من (تاريخ البدء) حتى يوم (تاريخ الانتهاء)</li>
      <li class="my-4 fs-5 fw-bold text-black">المسابقة تحت إشراف لجنة فنية تابعة للاتحاد.</li>
      <li class="my-4 fs-5 fw-bold text-black">يتم عقد الاختبار في مقر جمعية أحباب خاتم المرسلين: 26 ش أحمد سلام متفرع من شارع بشتيل بجوار حلواني ليدر - مدينة الأمل - المنيرة الغربية - امبابة - الجيزة</li>
    </ul>

  </div>
  <div class="d-flex justify-content-center mb-4">
    <div class="text-center bg-warning p-2" style="width: 200px;">
      <h6 class="text-uppercase">مستويات المسابقة</h6>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-5">
    <img src="../../../assets/img/levels.jpg"  class="img-fluid" alt="مستويات المسابقة">
  </div>

  <div class="d-flex justify-content-center mb-5">
    <button class="btn btn-warning btn-lg font-weight-bold" style="width: 200px;" [routerLink]="['/Register']">للتسجيل في المسابقة اضغط هنا</button>
  </div>

<div class="d-flex justify-content-center align-items-center mb-5">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Trgaq7KoW7w" ></iframe>
  </div>
</div>



</div>
<app-footer></app-footer>
