<section dir="rtl" class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-8 col-xl-6">
      <div class="card rounded-3">
        <div class="card-body p-4 p-md-5">
          <div  class="alert alert-success d-flex align-items-center" role="alert">
            <span id="boot-icon" class="bi bi-check-circle" style="font-size: 35px; color: rgb(0, 128, 55); opacity: 1; -webkit-text-stroke-width: 1.7px; border: hidden;"></span>
            <div style="font-size: 25px;font-weight: 600; margin-right: 30px;">
تم التسجيل بنجاح

</div>
</div>
<h2 class="card-title">معلومات المتسابق</h2>
<p class="card-text">الإسم الأول: {{user.firstName}}</p>
<p class="card-text">باقي الإسم : {{user.lastName}}</p>
<p class="card-text">المستوى: {{user.level}}</p>
<p class="card-text">اسم المدينة: {{user.city}}</p>
<p class="card-text">الرقم القومي: {{user.nationalId}}</p>
<p class="card-text">اسم الدار أو المحفظ : {{user.darName}}</p>
<p class="card-text">رقم الهاتف: {{user.phone}}</p>
<a href="https://www.facebook.com/ahbabKhatamElmorsaleen" title="جمعية أحباب خاتم المرسلين" style="text-decoration: none;" target="_blank">
(اضغط هنا) لمتابعتنا علي فيسبوك لمعرفه موعد المسابقة وكافة التفاصيل
</a>
<br>
          <button class="btn btn-success mt-4" [routerLink]="['/home']">الصفحة الرئيسية</button>

            </div>
          </div>
        </div>
      </div>
    </div>
</section>

