<section dir="rtl" class="h-100 h-custom" style="background-image: url('../../../../assets/img/IMG-20191030-WA0009.jpg');">
  <div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-8 col-xl-6">
      <div class="card rounded-3">
        <div class="card-body p-4 p-md-5">
          <div class="card" style="width: 18rem; margin-bottom: 20px;">
            <div class="card-body">
              <h5 class="card-title">معلومات المتسابق</h5>
                  <!-- <h6 class="card-subtitle mb-2 text-muted">الرقم القومي:{{nationalId?.value}}</h6>
                  <p class="card-subtitle mb-2 text-muted">تاريخ الميلاد: {{birthDate}}</p>
                  <p class="card-subtitle mb-2 text-muted"> السن: {{Age}}</p>
                  <p class="card-subtitle mb-2 text-muted"> النوع: {{gender}}</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
