<!-- <section class="h-100 h-custom" style="background-color: #8fc4b7;"> -->

  <section dir="rtl" class="h-100 h-custom" style="background-image: url('../../../../assets/img/IMG-20191030-WA0009.jpg');">
    <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">التسجيل للمسابقة</h3>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="px-md-2">

            <div class="row">
              <div class="col-md-6 mb-4">
                <label class="form-label" for="form3Example1q">الإسم الأول</label>
                <input type="text" formControlName="firstName" id="form3Example1q" class="form-control" required />
                <div *ngIf="firstName?.dirty && firstName?.touched">
                  <small *ngIf="firstName?.hasError('required')" class="text text-danger">* مطلوب إدخال الإسم الأول</small>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <label class="form-label" for="form3Example1q">الإسم الثاني</label>
                <input type="text" formControlName="lastName" id="form3Example1q" class="form-control" required/>
                <div *ngIf="lastName?.dirty && lastName?.touched">
                  <small *ngIf="lastName?.hasError('required')" class="text text-danger">* مطلوب إدخال الإسم الثاني</small>
                </div>
              </div>
            </div>

              <div class="form-outline mb-4">
                <label class="form-label" style="display: block;margin-bottom: 32px;" for="form3Example1q"></label>
                <select class="form-select"  formControlName="level" id="form3Example1q" required>
                  <option value=""  disabled selected>اختر المستوى</option>
                  <option value="1">الأول</option>
                  <option value="2">الثاني</option>
                  <option value="3">الثالث</option>
                  <option value="4">الرابع</option>
                  <option value="5">الخامس</option>
                  <option value="6">السادس</option>
                  <option value="7">السابع</option>
                  <option value="8">الثامن</option>
                </select>
                <div *ngIf="level?.dirty && level?.touched">
                  <small *ngIf="level?.hasError('required')" class="text text-danger">* مطلوب إدخال المستوى </small>
                </div>
              </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1q">الرقم القومي</label>
              <input type="text" minlength="14" maxlength="14" formControlName="nationalId" id="form3Example1q" class="form-control" (keydown)="onKeyDown($event)" required />
              <div *ngIf="nationalId?.dirty && nationalId?.touched">
                <small *ngIf="nationalId?.hasError('required')" class="text text-danger">* مطلوب إدخال الرقم القومي </small>
                <small *ngIf="nationalId?.hasError('minlength') || nationalId?.hasError('maxlength')" class="text text-danger">* الرقم القومي يتكون من 14 رقم </small>
              </div>
              <p class="card-subtitle mb-2 text-muted" style="margin-top: 10px;">تاريخ الميلاد: {{birthDate|date: 'dd-MM-yyyy'}}</p>
              <p class="card-subtitle mb-2 text-muted"> السن: {{Age}}</p>
              <p class="card-subtitle mb-2 text-muted"> النوع: {{gender}}</p>
              <p class="text text-danger"> {{state}}</p>

            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example1q">رقم واتساب للتواصل</label>
              <input type="text" minlength="11" maxlength="11" formControlName="phone" id="form3Example1q" class="form-control" (keydown)="onKeyDown($event)" required/>
              <div *ngIf="phone?.dirty && phone?.touched">
                <small *ngIf="phone?.hasError('required')" class="text text-danger">* مطلوب إدخال رقم للتواصل </small>
                <small *ngIf="phone?.hasError('minlength') || phone?.hasError('maxlength')" class="text text-danger">* الرقم المحمول يتكون من 11 رقم </small>
              </div>
            </div>

            <div class="row">
            <div class="col-md-6 mb-4">
                    <label class="form-label" for="form3Example1w">اسم الدار أو المحفظ</label>
                    <input type="text" id="form3Example1w" formControlName="darName" class="form-control" required />
                    <div *ngIf="darName?.dirty && darName?.touched">
                      <small *ngIf="darName?.hasError('required')" class="text text-danger">* مطلوب إدخال اسم الدار أو المحفظ </small>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <label class="form-label" style="display: block;margin-bottom: 25px;" for="form3Example1w"></label>
                    <button type="submit" [disabled]="!myForm.valid" id="form3Example1w"  class="btn btn-success btn-lg">إرسال</button>
                  </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
