<form [formGroup]="myForm" class="my-form">
  <label class="my-label">الإسم الأول</label>
  <input type="text" formControlName="firstName" class="my-input">

  <label class="my-label">الإسم الثاني</label>
  <input type="text" formControlName="lastName" class="my-input">

  <label class="my-label">العمر</label>
  <input type="number" formControlName="age" class="my-input">

  <label class="my-label">المستوى</label>
  <input type="number" formControlName="level" class="my-input">

  <label class="my-label">الرقم القومي</label>
  <input type="text" formControlName="nationalId" class="my-input">

  <label class="my-label">الصورة</label>
  <input type="file" formControlName="image" class="my-input">

  <label class="my-label">اسم الدار أو المحفظ</label>
  <input type="text" formControlName="darName" class="my-input">

  <label class="my-label">رقم واتساب للتواصل</label>
  <input type="text" formControlName="phone" class="my-input">

  <label class="my-label">تاريخ التسجيل</label>
  <input type="date" formControlName="registrationDate" class="my-input">
</form>
