<footer class="bg-warning" dir="rtl">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h4 class="text-uppercase" >للاستعلام في المقر الرئيسي:</h4>
        <p class="my-4 fs-5 fw-bold text-black">7 ش محمود عبد الرؤوف من ش بشتيل - العمارة - ناصية أبو أدهم للملابس، مكتبة سمير - أمام الدمياطي للأثاث.</p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-lg-start">
        <h5 class="text-uppercase font-weight-bold">للتواصل:</h5>
        <p><strong>01018083800</strong></p>
        <p><strong>01128305560</strong></p>
        <p><strong>01225294366</strong></p>
        <p><strong>01121505088</strong></p>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="fs-4 mb-4">صفحاتنا على فيسبوك:</h5>
        <div class="row">
          <p>
            <a href="https://www.facebook.com/ATHAD.ASRY?_rdc=1&_rdr" title="الاتحاد النوعي العصري للتنمية ورعاية الشباب" target="_blank">
            <img src="../../../assets//img/logo.jpg" width="50px" style="border-radius: 50px; margin-left: 20px;">
          </a>
          <a href="https://www.facebook.com/ahbabKhatamElmorsaleen" title="جمعية أحباب خاتم المرسلين" target="_blank">
            <img src="../../../assets//img/logo2.jpg" width="50px" style="border-radius: 45px;">
          </a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
