<footer class="bg-warning" dir="rtl">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h4 class="text-uppercase" >للاستعلام في المقر الرئيسي:</h4>
        <p>7 ش محمود عبد الرؤوف من ش بشتيل - العمارة - ناصية أبو أدهم للملابس، مكتبة سمير - أمام الدمياطي للأثاث.</p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-lg-start">
        <h5 class="text-uppercase font-weight-bold">للتواصل:</h5>
        <p><strong>01018083800</strong></p>
        <p><strong>01128305560</strong></p>
        <p><strong>01225294366</strong></p>
        <p><strong>01121505088</strong></p>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">صفحاتنا على فيسبوك:</h5>
        <p><a href="https://www.facebook.com/ahbabKhatamElmorsaleen" target="_blank">جمعية أحباب خاتم المرسلين</a></p>
        <p><a href="https://www.facebook.com/ATHAD.ASRY?_rdc=1&_rdr" target="_blank">الاتحاد النوعي العصري للتنمية ورعاية الشباب بالجيزة</a></p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0" dir="ltr">
        <p>
          <a href="https://www.facebook.com/ahbabKhatamElmorsaleen" target="_blank">
            <i class="bi bi-facebook fs-1 me-4"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCfJxKChIgMDD6e0ez5qDhdQ" target="_blank">
            <i class="bi bi-youtube fs-1 " style="color: red;"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
